---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import formatDate from '../../utils/formatDate';

export async function getStaticPaths() {
  const posts = await getCollection('posts');

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Props = {
  post: CollectionEntry<'posts'>;
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <main class="post mx-auto flex w-full max-w-4xl flex-col gap-4 p-5" id="main">
    <header role="presentation" class="flex flex-col gap-4 py-20 pb-0">
      <a href="/" class="w-fit rounded-lg bg-red-400 p-4 dark:bg-red-600 mb-10">← Back</a>
      <h1 class="text-3xl">
        {post.data.title} - {formatDate(post.data.publishedAt)}
      </h1>
    </header>
    <Content />
  </main>
</Layout>
<style is:global>
  #main header a {
    text-decoration: none !important;
    @apply text-black dark:text-white;
  }
  #main header h1 {
    @apply mt-0 w-screen max-w-full text-3xl font-bold;
  }
  #main header h1:after {
    @apply mb-0 mt-4 block h-1 w-80 rounded-full bg-gradient-to-r from-red-800 dark:from-red-400;
    content: '';
  }
  #main h1 {
    @apply mb-1 mt-6 text-4xl font-bold;
  }
  #main h2 {
    @apply mb-1 mt-6 text-3xl font-bold;
  }
  #main h3 {
    @apply mb-1 mt-6 text-2xl font-bold;
  }
  #main h4 {
    @apply mb-1 mt-6 text-xl font-bold;
  }
  #main h5 {
    @apply mb-1 mt-6 text-lg font-bold;
  }
  #main h6 {
    @apply mb-1 mt-6 text-lg font-bold;
  }
  #main p {
    @apply my-2 text-neutral-800 dark:text-neutral-300 leading-7;
  }
  #main li {
    @apply my-2 ml-4;
  }
  #main bold,
  #main strong,
  #main i,
  #main em {
    @apply text-red-950 dark:text-red-50;
  }
  #main ol li {
    @apply list-decimal;
  }
  #main ul li {
    @apply list-disc;
  }
  #main pre {
    @apply my-4 max-w-full overflow-auto rounded-md p-4;
  }
  p code,
  #main li code {
    @apply rounded-sm  px-1 text-[15px];
  }
  #main pre code {
    @apply bg-transparent p-0;
  }
  #main hr {
    @apply my-8 border-gray-300 dark:border-gray-700;
  }
  #main a {
    @apply text-red-900 underline dark:text-red-100;
  }

  #main blockquote {
    @apply my-4 border-l-4  py-2 pl-5 pr-2;
  }

  .astro-code {
    @apply text-sm;
  }
</style>
